In [86]:
import seaborn as sns

In [62]:
df_train = pd.read_csv("../data/application_train.csv")
df_test = pd.read_csv("../data/application_test.csv")
df_y_train = df_train.loc[:, ['SK_ID_CURR', 'TARGET']]
df_y_test = df_test.loc[:, ['SK_ID_CURR', 'TARGET']]

/home/ray/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  after removing the cwd from sys.path.
/home/ray/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [63]:
del df_train
del df_test

# Bureau和Bureau_bal处理

## 1. Bureau_bal 处理思路

1. 按照`SK_ID_BUREAU`分组计算数目，作为新变量`BUREAU_BAL_COUNT`
2. 对`STATUS`进行独热编码，发现大于0的情况非常稀疏，因此将其合并，得到`NOT_ZERO`
3. 对每个`SK_ID_BUREAU`求出closed情况的均值：` C_RATIO`
4. 合并`SK_ID_CURR`变量，并且按照`SK_ID_CURR`分组求所有变量的SUM和MEAN

## 2. BUREAU 处理思路

## Bureau_bal.csv

In [203]:
df_bureau = pd.read_csv('../data/bureau.csv')
df_bureau_bal = pd.read_csv('../data/bureau_balance.csv')

In [36]:
bureau_bal_count = df_bureau_bal.groupby('SK_ID_BUREAU')['SK_ID_BUREAU'].count()

In [37]:
df_bureau_bal = pd.get_dummies(df_bureau_bal)

In [38]:
df_bureau_bal = df_bureau_bal.groupby('SK_ID_BUREAU').sum()

In [39]:
df_bureau_bal['BUREAU_BAL_COUNT'] = df_bureau_bal.loc[:, ['STATUS_0', 'STATUS_1', 'STATUS_2', 
                                                          'STATUS_3', 'STATUS_4', 'STATUS_5', 'STATUS_C', 'STATUS_X']].sum(axis=1)

In [40]:
df_bureau_bal['NOT_ZERO'] = df_bureau_bal.loc[:, ['STATUS_1', 'STATUS_2', 'STATUS_3', 'STATUS_4', 'STATUS_5']].sum(axis=1)
df_bureau_bal['C_RATIO'] =df_bureau_bal['STATUS_C'] / df_bureau_bal['BUREAU_BAL_COUNT']

In [42]:
df_bureau_bal = df_bureau_bal.drop(columns=['STATUS_1', 'STATUS_2', 'STATUS_3', 'STATUS_4', 'STATUS_5'])

In [50]:
# df_bureau_bal = df_bureau_bal.drop(columns=['MONTHS_BALANCE'])

In [46]:
temp_dic = df_bureau.loc[:, ['SK_ID_CURR',	'SK_ID_BUREAU']]
temp_dic.index = temp_dic['SK_ID_BUREAU']
del temp_dic['SK_ID_BUREAU']
df_bureau_bal_res = pd.merge(df_bureau_bal, temp_dic, left_index=True, right_index=True,how='inner')

In [78]:
# 两张表差了很多id，没法一次匹配上

np.unique(df_bureau_bal['SK_ID_BUREAU']).shape
np.unique(df_bureau['SK_ID_BUREAU']).shape

(817395,)

In [49]:
df_bureau_bal_res.head()

,MONTHS_BALANCE,STATUS_0,STATUS_C,STATUS_X,BUREAU_BAL_COUNT,NOT_ZERO,C_RATIO,SK_ID_CURR
SK_ID_BUREAU,,,,,,,,
5001710,-3403,5,48,30,83,0,0.578313,162368
5001711,-6,3,0,1,4,0,0.000000,162368
5001712,-171,10,9,0,19,0,0.473684,162368
5001713,-231,0,0,22,22,0,0.000000,150635
5001714,-105,0,0,15,15,0,0.000000,150635

In [51]:
temp1= df_bureau_bal_res.groupby('SK_ID_CURR').mean()
temp1.columns = temp1.columns.map(lambda x: x+'_MEAN')
temp2 = df_bureau_bal_res.groupby('SK_ID_CURR').sum()
temp2.columns = temp2.columns.map(lambda x: x+'_SUM')

## bureau.csv

In [205]:
df_bureau['CREDIT_ACTIVE'] = df_bureau['CREDIT_ACTIVE'].map(lambda x: 1 if x == 'Closed' else 0 if not pd.isnull(x) else x)

In [206]:
df_bureau['CREDIT_TYPE'] = df_bureau['CREDIT_TYPE'].map(lambda x: 'others' if x in ['Cash loan (non-earmarked)',
                                                                                   'Real estate loan', 'Loan for the purchase of equipment',
                                                                                   'Loan for purchase of shares (margin lending)','Unknown type of loan',
                                                                                   'Mobile operator loan', 'Interbank credit', 'Another type of loan', 
                                                                                   'Loan for working capital replenishment'] else x)

In [207]:
df_bureau = df_bureau.drop(columns = 'CREDIT_CURRENCY')

In [208]:
df_bureau = df_bureau.drop(columns = 'CREDIT_DAY_OVERDUE')

In [209]:
df_bureau = df_bureau.drop(columns = 'AMT_CREDIT_SUM_OVERDUE')

In [210]:
df_bureau = df_bureau.drop(columns = 'AMT_ANNUITY')

In [211]:
df_bureau = pd.get_dummies(df_bureau)

In [212]:
df_bureau = df_bureau.drop(columns = 'SK_ID_BUREAU')
df_bureau.head()

,SK_ID_CURR,CREDIT_ACTIVE,DAYS_CREDIT,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,DAYS_CREDIT_UPDATE,CREDIT_TYPE_Car loan,CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_others
0,215354,1,-497,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,-131,0,1,0,0,0,0,0
1,215354,0,-208,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,-20,0,0,1,0,0,0,0
2,215354,0,-203,528.0,NaN,NaN,0,464323.5,NaN,NaN,-16,0,1,0,0,0,0,0
3,215354,0,-203,NaN,NaN,NaN,0,90000.0,NaN,NaN,-16,0,0,1,0,0,0,0
4,215354,0,-629,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,-21,0,1,0,0,0,0,0

In [213]:
temp3 = df_bureau.groupby('SK_ID_CURR').mean()
temp3.columns = temp3.columns.map(lambda x: x+'_MEAN')
temp4 = df_bureau.groupby('SK_ID_CURR').sum()
temp4.columns = temp4.columns.map(lambda x: x+'_SUM')

## Bureau 和 Bureau_bal汇总

In [307]:
df_train = pd.merge(left=df_y_train, right=temp1, how='left', left_on='SK_ID_CURR', right_index=True)
df_train = pd.merge(left=df_train, right=temp2, how='left', left_on='SK_ID_CURR', right_index=True)
df_train = pd.merge(left=df_train, right=temp3, how='left', left_on='SK_ID_CURR', right_index=True)
df_train = pd.merge(left=df_train, right=temp4, how='left', left_on='SK_ID_CURR', right_index=True)

In [308]:
df_test = pd.merge(left=df_y_test, right=temp1, how='left', left_on='SK_ID_CURR', right_index=True)
df_test = pd.merge(left=df_test, right=temp2, how='left', left_on='SK_ID_CURR', right_index=True)
df_test = pd.merge(left=df_test, right=temp3, how='left', left_on='SK_ID_CURR', right_index=True)
df_test = pd.merge(left=df_test, right=temp4, how='left', left_on='SK_ID_CURR', right_index=True)

In [309]:
df_train.head()

,SK_ID_CURR,TARGET,MONTHS_BALANCE_MEAN,STATUS_0_MEAN,STATUS_C_MEAN,STATUS_X_MEAN,BUREAU_BAL_COUNT_MEAN,NOT_ZERO_MEAN,C_RATIO_MEAN,MONTHS_BALANCE_SUM,...,AMT_CREDIT_SUM_DEBT_SUM,AMT_CREDIT_SUM_LIMIT_SUM,DAYS_CREDIT_UPDATE_SUM,CREDIT_TYPE_Car loan_SUM,CREDIT_TYPE_Consumer credit_SUM,CREDIT_TYPE_Credit card_SUM,CREDIT_TYPE_Loan for business development_SUM,CREDIT_TYPE_Microloan_SUM,CREDIT_TYPE_Mortgage_SUM,CREDIT_TYPE_others_SUM
0,100002,1,-337.625,5.625,2.875,1.875,13.75,3.375,0.175426,-2701.0,...,245781.0,31988.565,-3999.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0
1,100003,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,810000.000,-3264.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
2,100004,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.000,-1064.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.000,-783.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [310]:
TARGET = df_train['TARGET']

In [327]:
drop_num = []

In [311]:

def get_type(x):
    if isinstance(x[0], str):
        return 0
    if len( np.unique(x[:400].dropna())) < 15:
        return 0
    else:
        return 1
    
def plot(x):
    global TARGET
    _type = get_type(x)
    if _type == 0:
        discrete_plot(x, TARGET)
    else:
        continuous_plot(x, TARGET)
    
def discrete_plot(x, y):
    temp = pd.concat((x, y), axis=1)
    temp['value'] = 1
    temp = temp.dropna()
    temp.groupby(list(temp.columns)[:2]).sum().unstack().plot(kind='bar')
    print(temp.groupby([temp.columns[0]])['TARGET'].mean())
    print(temp.groupby([temp.columns[0]])['TARGET'].count())
    
def continuous_plot(x, y):
    x = x.dropna()
    sns.distplot(x.loc[y==0])
    sns.distplot(x.loc[y==1])

def mean_std(x):
    return (x - np.mean(x)) / np.std(x)

In [312]:
for col in df_train.columns[2:]:
    mean = np.mean(df_train[col])
    std = np.std(df_train[col])
    df_train[col] = (df_train[col] - mean) / std
    df_test[col] = (df_test[col] - mean) / std

In [313]:
df_train['MONTHS_BALANCE_MEAN_DUMMY'] = df_train['MONTHS_BALANCE_MEAN'].map(lambda x: 
                                                                                     '1' if x > -0.6 else '0' if not pd.isnull(x) else x)
df_test['MONTHS_BALANCE_MEAN_DUMMY'] = df_test['MONTHS_BALANCE_MEAN'].map(lambda x: 
                                                                                     '1' if x > -0.6 else '0' if not pd.isnull(x) else x)

In [314]:
df_train['STATUS_C_MEAN_DUMMY'] = df_train['STATUS_C_MEAN'].map(lambda x: 
                                                                                     '1' if x > -0.3 else '0' if not pd.isnull(x) else x)
df_test['STATUS_C_MEAN_DUMMY'] = df_test['STATUS_C_MEAN'].map(lambda x: 
                                                                                     '1' if x > -0.3 else '0' if not pd.isnull(x) else x)

In [315]:
df_train['BUREAU_BAL_COUNT_MEAN_DUMMY'] = df_train.iloc[:, 6].map(lambda x: '1' if x > -0.3 else '0' if not pd.isnull(x) else x)
df_train['BUREAU_BAL_COUNT_MEAN_DUMMY'] = df_test.iloc[:, 6].map(lambda x: '1' if x > -0.3 else '0' if not pd.isnull(x) else x)

In [316]:
df_train.iloc[:, 9] = df_train.iloc[:, 9].map(lambda x: -3 if x <= -3 else x)
df_test.iloc[:, 9] = df_test.iloc[:, 9].map(lambda x: -3 if x <= -3 else x)

In [317]:
df_train.iloc[:, 10] = df_train.iloc[:, 10].map(lambda x: 3 if x >=3 else x)
df_test.iloc[:, 10] = df_test.iloc[:, 10].map(lambda x: 3 if x >= 3 else x)

In [318]:
df_train.iloc[:, 11] = df_train.iloc[:, 11].map(lambda x: 2.5 if x >=2.5 else x)
df_test.iloc[:, 11] = df_test.iloc[:, 11].map(lambda x: 2.5 if x >= 2.5 else x)

In [319]:
df_train.iloc[:, 12] = df_train.iloc[:, 12].map(lambda x: 2 if x >=2 else x)
df_test.iloc[:, 12] = df_test.iloc[:, 12].map(lambda x: 2 if x >= 2 else x)

In [320]:
df_train.iloc[:, 13] = df_train.iloc[:, 13].map(lambda x: 2.5 if x >=2.5 else x)
df_test.iloc[:, 13] = df_test.iloc[:, 13].map(lambda x: 2.5 if x >= 2.5 else x)

In [321]:
df_train.iloc[:, 11] = df_train.iloc[:, 11].map(lambda x: 2.5 if x >=2.5 else x)
df_test.iloc[:, 11] = df_test.iloc[:, 11].map(lambda x: 2.5 if x >= 2.5 else x)

In [322]:
df_train['NOT_ZERO_SUM_DUMMY'] = df_train['NOT_ZERO_SUM'].map(lambda x: '2' if x > 0.50 
                                                              else '1' if x > -0.2 else '0' if not pd.isnull(x) else x)
df_test['NOT_ZERO_SUM_DUMMY'] = df_test['NOT_ZERO_SUM'].map(lambda x: '2' if x > 0.50 
                                                              else '1' if x > -0.2 else '0' if not pd.isnull(x) else x)

In [323]:
df_train['CREDIT_ACTIVE_MEAN_DUMMY'] = df_train['CREDIT_ACTIVE_MEAN'].map(lambda x: 
                                                                          '1' if x > -0.5 else '0' if not pd.isnull(x) else x)
df_test['CREDIT_ACTIVE_MEAN_DUMMY'] = df_test['CREDIT_ACTIVE_MEAN'].map(lambda x: 
                                                                          '1' if x > -0.5 else '0' if not pd.isnull(x) else x)

In [324]:
df_train['DAYS_CREDIT_MEAN_DUMMY'] = df_train['DAYS_CREDIT_MEAN'].map(lambda x: 
                                                                          '1' if x >= 0.4 else '0' if not pd.isnull(x) else x)
df_test['DAYS_CREDIT_MEAN_DUMMY'] = df_test['DAYS_CREDIT_MEAN'].map(lambda x: 
                                                                          '1' if x >= 0.4 else '0' if not pd.isnull(x) else x)

In [325]:
df_train.iloc[:, 18] = df_train.iloc[:, 18].map(lambda x: '1' if x >=1 else '0' if not pd.isnull(x) else x)
df_test.iloc[:, 18] = df_test.iloc[:, 18].map(lambda x: '1' if x >= 1 else '0' if not pd.isnull(x) else x)

In [326]:
df_train.iloc[:, 19] = df_train.iloc[:, 19].map(lambda x: -3 if x <= -3 else x)
df_test.iloc[:, 19] = df_test.iloc[:, 19].map(lambda x: -3 if x <= -3 else x)

df_train['DAYS_ENDDATE_FACT_MEAN_DUMMY'] = df_train.iloc[:, 19].map(lambda x: '1' if x >0.4 else '0' if not pd.isnull(x) else x)
df_train['DAYS_ENDDATE_FACT_MEAN_DUMMY'] = df_test.iloc[:, 19].map(lambda x: '1' if x >0.4 else '0' if not pd.isnull(x) else x)

In [ ]:
drop_num += [20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32]

In [304]:
df_train.iloc[:, 22] = df_train.iloc[:, 22].map(lambda x: -3 if x <= -3 else x)
df_test.iloc[:, 22] = df_test.iloc[:, 22].map(lambda x: -3 if x <= -3 else x)

df_train['DAYS_CREDIT_UPDATE_MEAN_DUMMY'] = df_train.iloc[:, 22].map(lambda x: '1' if x >0.4 else '0' if not pd.isnull(x) else x)
df_train['DAYS_CREDIT_UPDATE_MEAN_DUMMY'] = df_test.iloc[:, 22].map(lambda x: '1' if x >0.4 else '0' if not pd.isnull(x) else x)

In [305]:
df_train.iloc[:, 34] = df_train.iloc[:, 34].map(lambda x: -3 if x <= -3 else x)
df_test.iloc[:, 34] = df_test.iloc[:, 34].map(lambda x: -3 if x <= -3 else x)

df_train['DAYS_CREDIT_UPDATE_MEAN_DUMMY'] = df_train.iloc[:, 34].map(lambda x: '1' if x >0.4 else '0' if not pd.isnull(x) else x)
df_train['DAYS_CREDIT_UPDATE_MEAN_DUMMY'] = df_test.iloc[:, 34].map(lambda x: '1' if x >0.4 else '0' if not pd.isnull(x) else x)

In [ ]:
plot(df_train.iloc[:, 34].map(lambda x: x if x >-3 else np.nan))